{% extends 'site/base/base.html' %}

{% block title %}Inscribirse al evento{% endblock %}

{% block section_title %}
    Inscripción al evento
{% endblock %}

{% block main %}

<div class="row">
    <form action="{{request.path}}" method="POST" enctype="multipart/form-data" class="form-horizontal">
        {% csrf_token %}
        {{ form.errors }}
        <div class="col-md-8">
             <div class="card">
                <div class="content">
                    {% for field in form %}
                        <div class="form-group">
                            <label class="col-md-4 control-label">
                                {% if not field.is_hidden %}
                                {{field.label}}
                                {% endif %}
                            </label>
                            <div class="col-md-6">
                                {{field}}
                            </div>
                        </div>
                    {% endfor %}
                    <hr>
                    <div class="form-group">
                        <div class="col-md-12 text-right">
                            <a class="btn btn-fill btn-danger" href="{% url 'site:events' %}">
                                Cancelar
                            </a>
                            <input type="submit" class="btn btn-fill btn-success" value="Inscribirse">
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </form>
</div>
{% endblock %}