{% extends "admin/base/base.html" %}
{% load user_tags %}
{% load static %}

{% block title %}Ver Club{% endblock %}

{% block section_title %}Información del Club <br><small style="font-size:12px">{{club.name}}</small>{% endblock %}

{% block main %}
<div class="row">
    <div class="col-lg-4 col-md-4">
        <div class="card">
            <div class="header">
                <h4 class="title">
                    Club <br>
                    <small>{{club.name}}</small>
                </h4>
                <hr>
            </div>
            <div class="content">
                <p class="text-center">
                    <a class="btn btn-fill btn-warning" href="{% url 'settings:edit_club' club.id %}">
                        Editar información del Club
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-8 col-md-8">
        <div class="fresh-table color-green">

            <div class="toolbar">
                <span style="    font-size: 1.5em;font-weight: 300;vertical-align: middle;display: inline-block; margin-right:20px;">
                    Deportistas
                </span>
            </div>

            <table id="fresh-table" class="table">
                <thead>
                    <th data-sortable="true" data-field="ID">ID</th>
                    <th data-sortable="true" data-field="Nombre">Nombre</th>
                    <th data-sortable="true" data-field="Deportistas" class="text-center">Antiguedad</th>
                    <th data-field="Acción">Acción</th>
                </thead>
                <tbody>
                    {% for tab in club.sportstab_set.all %}
                    <tr>
                        <td>{{tab.athlete.id}}</td>
                        <td>{{tab.athlete.first_name}} {{tab.athlete.last_name}}</td>
                        <td>{{tab.admission_date|timesince|upto:',' }}</td>
                        <td>
                            <a href="{% url 'athletes:view_athlete' tab.athlete.id %}" class="btn btn-simple text-success btn-icon edit">
                                <i class="fa fa-eye"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}

{% block script %}
    <!--  Plugin for DataTables.net  -->
    <script src="{% static 'assets/js/jquery.datatables.js' %}"></script>

    <script type="text/javascript">
        var $table = $('#fresh-table'),
            $alertBtn = $('#alertBtn'),
            full_screen = false;

        $().ready(function(){
            $table.bootstrapTable({
                toolbar: ".toolbar",

                showRefresh: false,
                search: true,
                showToggle: false,
                showColumns: true,
                pagination: true,
                striped: true,
                pageSize: 10,
                pageList: [10,25,50,100,"Todos"],

                formatAllRows: function () {
                    return 'Todos';
                },

                formatShowingRows: function(pageFrom, pageTo, totalRows){
                },

                formatNoMatches: function () {
                    return 'No se encontraron registros';
                },

                formatSearch: function () {
                    return 'Buscar';
                },

                formatRecordsPerPage: function(pageNumber){
                    return " Mostrar "+pageNumber+" registros";
                },

                icons: {
                    refresh: 'fa fa-refresh',
                    toggle: 'fa fa-th-list',
                    columns: 'fa fa-columns',
                    detailOpen: 'fa fa-plus-circle',
                    detailClose: 'fa fa-minus-circle'
                }
            });

            $(window).resize(function () {
                $table.bootstrapTable('resetView');
            });

        });

        var $table2 = $('#fresh-table2'),
            $alertBtn = $('#alertBtn'),
            full_screen = false;

        $().ready(function(){
            $table2.bootstrapTable({
                toolbar: ".toolbar2",

                showRefresh: false,
                search: true,
                showToggle: false,
                showColumns: true,
                pagination: true,
                striped: true,
                pageSize: 10,
                pageList: [10,25,50,100,"Todos"],

                formatAllRows: function () {
                    return 'Todos';
                },

                formatShowingRows: function(pageFrom, pageTo, totalRows){
                },

                formatNoMatches: function () {
                    return 'No se encontraron registros';
                },

                formatSearch: function () {
                    return 'Buscar';
                },

                formatRecordsPerPage: function(pageNumber){
                    return " Mostrar "+pageNumber+" registros";
                },

                icons: {
                    refresh: 'fa fa-refresh',
                    toggle: 'fa fa-th-list',
                    columns: 'fa fa-columns',
                    detailOpen: 'fa fa-plus-circle',
                    detailClose: 'fa fa-minus-circle'
                }
            });

            $(window).resize(function () {
                $table2.bootstrapTable('resetView');
            });

        });


    </script>
{% endblock %}