{% extends 'admin/base/base.html' %}

{% load static %}

{% block title %}Ligas{% endblock %}

{% block section_title %}Ligas{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-12">

        <div class="fresh-table color-green">

            <div class="toolbar">
                <a class="btn btn-fill btn-success" href="{% url 'settings:new_league' %}">
                    Agregar Liga
                </a>
            </div>

            <table id="fresh-table" class="table">
                <thead>
                    <th data-sortable="true" data-field="ID">ID</th>
                    <th data-sortable="true" data-field="Nombre">Nombre</th>
                    <th data-sortable="true" data-field="Estado">Deporte</th>
                    <th data-sortable="true" data-field="Subprogramas" class="text-center">Clubes</th>
                    <th data-field="" class="disabled-sorting">Acción</th>
                </thead>
                <tbody>
                    {% for league in leagues %}
                    <tr>
                        <td>{{league.id}}</td>
                        <td>{{league.name|capfirst}}</td>
                        <td>{{league.sport}}</td>
                        <td class="text-center">{{league.club_set.all.count}}</td>
                        <td>
                            <a href="{% url 'settings:view_league' league.id %}" class="btn btn-simple text-success btn-icon edit">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a href="{% url 'settings:edit_league' league.id %}" class="btn btn-simple btn-warning btn-icon edit">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a href="{% url 'settings:delete_league' league.id %}" class="btn btn-simple btn-warning btn-icon edit">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
    <!--  Plugin for DataTables.net  -->
	<script src="{% static 'assets/js/jquery.datatables.js' %}"></script>

    <script type="text/javascript">
        var $table = $('#fresh-table'),
            $alertBtn = $('#alertBtn'),
            full_screen = false;

        $().ready(function(){
            $table.bootstrapTable({
                toolbar: ".toolbar",

                showRefresh: false,
                search: true,
                showToggle: false,
                showColumns: true,
                pagination: true,
                striped: true,
                pageSize: 10,
                pageList: [10,25,50,100,"Todos"],

                formatAllRows: function () {
                    return 'Todos';
                },

                formatShowingRows: function(pageFrom, pageTo, totalRows){
                },

                formatNoMatches: function () {
                    return 'No se encontraron registros';
                },

                formatSearch: function () {
                    return 'Buscar';
                },

                formatRecordsPerPage: function(pageNumber){
                    return " Mostrar "+pageNumber+" registros";
                },

                icons: {
                    refresh: 'fa fa-refresh',
                    toggle: 'fa fa-th-list',
                    columns: 'fa fa-columns',
                    detailOpen: 'fa fa-plus-circle',
                    detailClose: 'fa fa-minus-circle'
                }
            });

            $(window).resize(function () {
                $table.bootstrapTable('resetView');
            });

        });


    </script>
{% endblock %}