{% extends 'admin/base/base.html' %}

{% load static %}

{% block title %}Configuración{% endblock %}

{% block section_title %}Configuración{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-12">

        <div class="card" style="padding:20px 40px;">
            <a class="btn btn-primary square" href="#">
                <h2><i class="fa fa-users"></i></h2>
                <p>Usuarios </p>
            </a>
            <a class="btn btn-primary square" href="#">
                <h2><i class="fa fa-futbol-o"></i></h2>
                <p>Deportes </p>
            </a>

            <a class="btn btn-primary square" href="#">
                <h2><i class="fa fa-spinner"></i></h2>
                <p>Ligas </p>
            </a>
            <a class="btn btn-primary square" href="#">
                <h2><i class="fa fa-flag-checkered"></i></h2>
                <p>Clubes </p>
            </a>
        </div>

       
    </div>
</div>
{% endblock %}


{% block script %}
    <!--  Plugin for DataTables.net  -->
	<script src="{% static 'assets/js/jquery.datatables.js' %}"></script>

    <script type="text/javascript">
        var $table = $('#fresh-table'),
            $alertBtn = $('#alertBtn'),
            full_screen = false;

        $().ready(function(){
            $table.bootstrapTable({
                toolbar: ".toolbar",

                showRefresh: false,
                search: true,
                showToggle: false,
                showColumns: true,
                pagination: true,
                striped: true,
                pageSize: 10,
                pageList: [10,25,50,100,"Todos"],

                formatAllRows: function () {
                    return 'Todos';
                },

                formatShowingRows: function(pageFrom, pageTo, totalRows){
                },

                formatNoMatches: function () {
                    return 'No se encontraron registros';
                },

                formatSearch: function () {
                    return 'Buscar';
                },

                formatRecordsPerPage: function(pageNumber){
                    return " Mostrar "+pageNumber+" registros";
                },

                icons: {
                    refresh: 'fa fa-refresh',
                    toggle: 'fa fa-th-list',
                    columns: 'fa fa-columns',
                    detailOpen: 'fa fa-plus-circle',
                    detailClose: 'fa fa-minus-circle'
                }
            });

            $(window).resize(function () {
                $table.bootstrapTable('resetView');
            });

        });


    </script>
{% endblock %}