{% extends 'admin/base/base.html' %}

{% load static %}

{% block title %}Usuarios{% endblock %}

{% block section_title %}Usuarios{% endblock %}

{% block breadcrumb %}
<li><a href="{% url 'admin_home' %}"><span class="fa fa-home"> </span></a></li>
<li><a href="{% url 'settings:settings_home' %}"><span class="fa fa-gears"> </span> Configuración</a></li>
<li><a class="active"><span class="fa fa-users"> </span> Usuarios</a></li>
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-12">

        <div class="fresh-table color-green">

            <!--div class="toolbar">
                <a class="btn btn-fill btn-success" href="">
                    Agregar Usuario
                </a>
            </div-->

            <table id="fresh-table" class="table">
                <thead>
                    <th data-sortable="true" data-field="ID">ID</th>
                    <th data-sortable="true" data-field="Nombre">Nombre</th>
                    <th data-sortable="true" data-field="Estado">Rol</th>
                    <th data-sortable="true" data-field="Subprogramas" class="text-center">Nombre de usuario</th>
                    <th data-sortable="true" data-field="status" class="text-center">Estado</th>
                    <th data-field="" class="disabled-sorting">Acción</th>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{user.id}}</td>
                        <td>{{user.get_full_name}}</td>
                        <td>
                            {% if user.type %}
                            {{user.get_type_display}}
                            {% else %}
                            Administrador
                            {% endif %}
                        </td>
                        <td class="text-center">{{user.username}}</td>
                        <td class="text-center">
                            {% if user.is_active %}
                            Activo
                            {% else %}
                            Inactivo
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'settings:view_user' user.id %}" class="btn btn-simple btn-warning btn-icon edit">
                                <i class="fa fa-eye"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
    <!--  Plugin for DataTables.net  -->
	<script src="{% static 'assets/js/jquery.datatables.js' %}"></script>

    <script type="text/javascript">
        var $table = $('#fresh-table'),
            $alertBtn = $('#alertBtn'),
            full_screen = false;

        $().ready(function(){
            $table.bootstrapTable({
                toolbar: ".toolbar",

                showRefresh: false,
                search: true,
                showToggle: false,
                showColumns: true,
                pagination: true,
                striped: true,
                pageSize: 10,
                pageList: [10,25,50,100,"Todos"],

                formatAllRows: function () {
                    return 'Todos';
                },

                formatShowingRows: function(pageFrom, pageTo, totalRows){
                },

                formatNoMatches: function () {
                    return 'No se encontraron registros';
                },

                formatSearch: function () {
                    return 'Buscar';
                },

                formatRecordsPerPage: function(pageNumber){
                    return " Mostrar "+pageNumber+" registros";
                },

                icons: {
                    refresh: 'fa fa-refresh',
                    toggle: 'fa fa-th-list',
                    columns: 'fa fa-columns',
                    detailOpen: 'fa fa-plus-circle',
                    detailClose: 'fa fa-minus-circle'
                }
            });

            $(window).resize(function () {
                $table.bootstrapTable('resetView');
            });

        });


    </script>
{% endblock %}