{% extends "admin/base/base.html" %}

{% load user_tags %}
{% load static %}

{% block title %}Ver deportista{% endblock %}

{% block section_title %}Ver deportista{% endblock %}

{% block main %}
<div class="row">
    <div class="col-lg-4 col-md-5">
        <div class="card card-user">
            <div class="image">
                <img src="{% static 'assets/img/background.jpg' %}" alt="..."/>
            </div>
            <div class="content">
                <div class="author">
                  <img class="avatar border-white" src="/media/{{ athlete.photo }}" alt="..."/>
                  <h4 class="title">{{athlete}}<br />
                     <a href="#"><small>Deportista</small></a><br>
                     <small>{{ athlete.birth_date|timesince|upto:',' }}</small>
                  </h4>
                </div>
            </div>
            <hr>
            <div class="text-center">
                <div class="row">
                    <div class="col-md-3 col-md-offset-1">
                        <h5>
                            <a href="{% url 'athletes:edit_athlete' athlete.id %}" class="text-warning">
                                <i class="fa fa-pencil"></i>
                                <br />
                                <small>Editar</small>
                            </a>
                        </h5>
                    </div>
                    <div class="col-md-3">
                        <h5>
                            <i class="ti-lock"></i>
                            <br />
                            <small>Bloquear</small>
                        </h5>
                    </div>
                    <div class="col-md-4">
                        <h5>
                            <a href="{% url 'athletes:report_options' athlete.id %}">
                                <i class="ti-write"></i>
                                <br />
                                <small>Reporte</small>
                            </a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-7">
        <div class="card">
            <div class="header">
                <h4 class="title">Información</h4>
                <hr>
            </div>
            <div class="content">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nombre Completo</label>
                                <p class="form-control-static">{{athlete.first_name}} {{athlete.last_name}}</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Lugar y fecha de nacimiento</label>
                                <p class="form-control-static">{{athlete.birthplace}}, {{athlete.birth_date}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Tipo de documento</label>
                                <p class="form-control-static">{{athlete.get_document_type_display}}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Número de documento</label>
                                <p class="form-control-static">{{athlete.document_number}}</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Género</label>
                                <p class="form-control-static">{{athlete.get_genre_display}}</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>RH</label>
                                <p class="form-control-static">{{athlete.get_rh_display}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Provincia</label>
                                <p class="form-control-static">{{athlete.province}}</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Municipio</label>
                                <p class="form-control-static">{{athlete.municipality}}</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Dirección</label>
                                <p class="form-control-static">{{athlete.address}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Teléfono Fijo</label>
                                <p class="form-control-static">{{athlete.phone}}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Correo electrónico</label>
                                <p class="form-control-static">{{athlete.email}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="col-lg-4 col-md-4">
        <div class="card">
            <div class="header">
                <h4 class="title">Información adicional</h4>
                <hr>
            </div>
            <div class="content">
                <form>
                    <div class="row">
                         <div class="col-md-6">
                            <div class="form-group">
                                <label>Nivel de estudios</label>
                                <p class="form-control-static">{{athlete.get_school_level_display}}</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Institución</label>
                                <p class="form-control-static">{{athlete.institution}}</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Cubrimiento en salud</label>
                                <p class="form-control-static">{{athlete.get_healthcare_display}}</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Empresa</label>
                                <p class="form-control-static">{{athlete.eps_name}}</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Talla de ropa</label>
                                <p class="form-control-static">{{athlete.get_clothes_size_display}}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Talla de zapatos</label>
                                <p class="form-control-static">{{athlete.shoes_size}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="card">
            <div class="header">
                <h4 class="title">Información Socio-Económica</h4>
                <hr>
            </div>
            <div class="content">
                <form>
                    {% if athlete.socialcard_set.all.count == 1 %}
                    <div class="row">
                         <div class="col-md-6">
                            <div class="form-group">
                                <label>Estrato</label>
                                <p class="form-control-static">{{athlete.socialcard_set.first.stratum}}</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Sector</label>
                                <p class="form-control-static">{{athlete.socialcard_set.first.get_sector_display}}</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nucleo familiar</label>
                                <p class="form-control-static">{{athlete.socialcard_set.first.family_members}} personas</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Ocup. del padre</label>
                                <p class="form-control-static">{{athlete.socialcard_set.first.father_job}}</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Ocup. de la madre</label>
                                <p class="form-control-static">{{athlete.socialcard_set.first.mother_job}}</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Estado civil</label>
                                <p class="form-control-static">{{athlete.socialcard_set.first.civil_status}}</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Número de hijos</label>
                                <p class="form-control-static">{{athlete.socialcard_set.first.children}}</p>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <p class="text-center">
                        <a class="btn btn-fill btn-success" href="{% url 'athletes:athlete_scard' athlete.id %}">
                            Agregar información
                        </a>
                    </p>
                    {% endif %}
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
        <div class="card">
            <div class="header">
                <h4 class="title">Contacto alternativo</h4>
                <hr>
            </div>
            <div class="content">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nombre Completo</label>
                                <p class="form-control-static">{{athlete.contact_fullname}}</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Teléfono</label>
                                <p class="form-control-static">{{athlete.contact_phone}}</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Dirección</label>
                                <p class="form-control-static">{{athlete.contact_address}}</p>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <label>Dirección</label>
                                <p class="form-control-static">{{athlete.contact_mail}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="card">
            <div class="header">
                <h4 class="title col-lg-8" style="margin-top:8px">Ficha deportiva</h4>
                <p class="text-right">
                    {% if athlete.sportstab_set.all.count == 0%}
                         <a class="btn btn-fill btn-success" href="{% url 'athletes:athlete_card' athlete.id %}">Agregar ficha deportiva</a>
                    {% else %}
                        <a class="btn btn-fill btn-success" href="{% url 'athletes:edit_athlete_card' athlete.id %}">Editar ficha deportiva</a>
                    {% endif %}

                </p>
                <hr>
            </div>
            <div class="content">
                {% if athlete.sportstab_set.all.count == 0%}
                <p class="text-center">No se ha creado ficha deportiva para este deportista</p>
                {% else %}
                <form>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Deporte</label>
                                <p class="form-control-static">{{athlete.sportstab_set.first.sport}}</p>
                            </div>
                        </div>
                         <div class="col-md-2">
                            <div class="form-group">
                                <label>Categoría</label>
                                <p class="form-control-static">{{athlete.sportstab_set.first.category}}</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Modalidad</label>
                                <p class="form-control-static">
                                    {% if athlete.sportstab_set.first.modality %}
                                        {{athlete.sportstab_set.first.modality}}
                                    {% else %}
                                        ----
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Priorización</label>
                                <p class="form-control-static">
                                    {{athlete.sportstab_set.first.get_priorization_display}}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Fecha de inicio en el deporte</label>
                                <p class="form-control-static">
                                    {{athlete.sportstab_set.first.activity_start_date}}
                                    ({{athlete.sportstab_set.first.activity_start_date|timesince|upto:',' }})
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Liga</label>
                                <p class="form-control-static">{{athlete.sportstab_set.first.league}}</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Club</label>
                                <p class="form-control-static">{{athlete.sportstab_set.first.club}}</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Fecha de ingreso</label>
                                <p class="form-control-static">{{athlete.sportstab_set.first.admission_date}}</p>
                            </div>
                        </div>
                        {% if athlete.sportstab_set.first.functional %}
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Clasificación Funcional</label>
                                <p class="form-control-static">
                                    {{athlete.sportstab_set.first.functional}}
                                </p>
                            </div>
                        </div>
                        {% endif %}

                    </div>

                    <div class="clearfix"></div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-md-12">
        <div class="fresh-table color-green">

            <div class="toolbar1">
                <span style="font-size: 1.5em;font-weight: 300;vertical-align: middle;display: inline-block; margin-right:20px;">
                    Resultados Deportivos
                </span>
                <a class="btn btn-fill btn-success" href="{% url 'athletes:athlete_result' athlete.id %}">
                    Agregar resultado
                </a>
            </div>

            <table id="fresh-table" class="table">
                <thead>
                    <th data-sortable="true" data-field="Fecha">Resultado</th>
                    <th data-sortable="true" data-field="Evento">Referentes</th>
                    <th data-field="Acción">Acción</th>
                </thead>
                <tbody>
                    {% for res in athlete.result_set.all %}
                    <tr >
                        <td>
                            {{res.result_date}} <br>
                            {{res.event}} <br>
                            <b>Prueba:</b>{{res.test}} <br>
                            <b>Resultado (Puesto):</b> {{res.result}} <br>
                            {% if res.mark %}
                                <b>Marca:</b> {{res.mark}} <br>
                            {% endif %}
                        </td>
                        <td>
                            {% for ref in res.markreference_set.all %}
                                {{ref.result_date}} <br>
                                {{ref.event}} <br>
                                {{ref.athlete}} <br>
                                <b>Prueba:</b>{{ref.test}} <br>
                                <b>Resultado (Puesto):</b> {{ref.ref_result}} <br>
                                {% if ref.mark %}
                                    <b>Marca:</b> {{ref.mark}} <br>
                                {% endif %}
                                <a href="{% url 'athletes:edit_athlete_result_ref' athlete.id res.id ref.id%}">Editar</a>
                                {% if not forloop.last %}
                                <hr>
                                {% endif %}
                            {% empty %}
                                <a class="btn btn-fill btn-success" href="{% url 'athletes:athlete_result_ref' athlete.id res.id %}">
                                    Agregar referente
                                </a>
                            {% endfor %}
                        </td>
                        <td>
                            <a href="{% url 'athletes:athlete_result_ref' athlete.id res.id %}" class="btn btn-simple text-success btn-icon edit">
                                <i class="fa fa-plus"></i>
                            </a>
                            <a href="{% url 'athletes:edit_athlete_result' athlete.id res.id %}" class="btn btn-simple btn-warning btn-icon edit">
                                <i class="fa fa-edit"></i>
                            </a>
                        </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="col-lg-12 col-md-12" style="margin-top:20px">
        <div class="fresh-table color-green">

            <div class="toolbar3">
                <span style="font-size: 1.5em;font-weight: 300;vertical-align: middle;display: inline-block; margin-right:20px;">
                    Pruebas
                </span>
                <a class="btn btn-fill btn-success" href="{% url 'athletes:athlete_test' athlete.id %}">
                    Agregar prueba
                </a>
                <a class="btn btn-fill btn-primary" href="{% url 'athletes:athlete_ref_list' athlete.id %}">
                    Administrar referentes
                </a>
            </div>



            <table id="fresh-table3" class="table">
                <thead>
                    <th data-sortable="true" data-field="Fecha">Fecha</th>
                    <th data-sortable="true" data-field="prueba">Prueba</th>
                    <th data-sortable="true" data-field="res">Resultado</th>
                    <th data-sortable="true" data-field="ref">Referente</th>
                </thead>
                <tbody>

                    {% for test in tests %}
                    <tr>
                        <td>
                            {{test.date}}
                        </td>
                        <td>
                            {{test.test_name}}
                        </td>
                        <td>
                            {{test.result}}
                        </td>
                         <td>
                            {{test.ref}}
                        </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="clearfix"></div>


    <div class="col-lg-12 col-md-12" style="margin-top:20px">
        <div class="fresh-table color-green">

            <div class="toolbar2">
                <span style="font-size: 1.5em;font-weight: 300;vertical-align: middle;display: inline-block; margin-right:20px;">
                    Valoraciones Biomédicas
                </span>
                <a class="btn btn-fill btn-success" href="{% url 'athletes:athlete_biomedic_card' athlete.id %}">
                    Agregar valoración
                </a>
            </div>



            <table id="fresh-table2" class="table">
                <thead>
                    <th data-sortable="true" data-field="Fecha">Fecha</th>
                    <th data-sortable="true" data-field="Evento">Resultado</th>
                    <th data-field="Acción">Acción</th>
                </thead>
                <tbody>

                    {% for tab in athlete.biomedictab_set.all %}
                    <tr >
                        <td>
                            {{tab.date}}
                        </td>
                        <td>
                            {{tab.aptitudetest_set.first.get_status_display}}
                        </td>
                        <td>
                            
                        </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
    <!--  Plugin for DataTables.net  -->
    <script src="{% static 'assets/js/jquery.datatables.js' %}"></script>

    <script type="text/javascript">
        var $table = $('#fresh-table'),
            $alertBtn = $('#alertBtn'),
            full_screen = false;

        $().ready(function(){
            $table.bootstrapTable({
                toolbar: ".toolbar1",

                showRefresh: false,
                search: true,
                showToggle: false,
                showColumns: true,
                pagination: true,
                striped: true,
                pageSize: 10,
                pageList: [10,25,50,100,"Todos"],

                formatAllRows: function () {
                    return 'Todos';
                },

                formatShowingRows: function(pageFrom, pageTo, totalRows){
                },

                formatNoMatches: function () {
                    return 'No se encontraron registros';
                },

                formatSearch: function () {
                    return 'Buscar';
                },

                formatRecordsPerPage: function(pageNumber){
                    return " Mostrar "+pageNumber+" registros";
                },

                icons: {
                    refresh: 'fa fa-refresh',
                    toggle: 'fa fa-th-list',
                    columns: 'fa fa-columns',
                    detailOpen: 'fa fa-plus-circle',
                    detailClose: 'fa fa-minus-circle'
                }
            });

            $(window).resize(function () {
                $table.bootstrapTable('resetView');
            });

        });

        var $table3 = $('#fresh-table3'),
            $alertBtn = $('#alertBtn'),
            full_screen = false;

        $().ready(function(){
            $table3.bootstrapTable({
                toolbar: ".toolbar3",

                showRefresh: false,
                search: true,
                showToggle: false,
                showColumns: true,
                pagination: true,
                striped: true,
                pageSize: 10,
                pageList: [10,25,50,100,"Todos"],

                formatAllRows: function () {
                    return 'Todos';
                },

                formatShowingRows: function(pageFrom, pageTo, totalRows){
                },

                formatNoMatches: function () {
                    return 'No se encontraron registros';
                },

                formatSearch: function () {
                    return 'Buscar';
                },

                formatRecordsPerPage: function(pageNumber){
                    return " Mostrar "+pageNumber+" registros";
                },

                icons: {
                    refresh: 'fa fa-refresh',
                    toggle: 'fa fa-th-list',
                    columns: 'fa fa-columns',
                    detailOpen: 'fa fa-plus-circle',
                    detailClose: 'fa fa-minus-circle'
                }
            });

            $(window).resize(function () {
                $table3.bootstrapTable('resetView');
            });

        });


        var $table2 = $('#fresh-table2'),
            $alertBtn = $('#alertBtn'),
            full_screen = false;

        $().ready(function(){
            $table2.bootstrapTable({
                toolbar: ".toolbar2",

                showRefresh: false,
                search: true,
                showToggle: false,
                showColumns: true,
                pagination: true,
                striped: true,
                pageSize: 10,
                pageList: [10,25,50,100,"Todos"],

                formatAllRows: function () {
                    return 'Todos';
                },

                formatShowingRows: function(pageFrom, pageTo, totalRows){
                },

                formatNoMatches: function () {
                    return 'No se encontraron registros';
                },

                formatSearch: function () {
                    return 'Buscar';
                },

                formatRecordsPerPage: function(pageNumber){
                    return " Mostrar "+pageNumber+" registros";
                },

                icons: {
                    refresh: 'fa fa-refresh',
                    toggle: 'fa fa-th-list',
                    columns: 'fa fa-columns',
                    detailOpen: 'fa fa-plus-circle',
                    detailClose: 'fa fa-minus-circle'
                }
            });

            $(window).resize(function () {
                $table2.bootstrapTable('resetView');
            });

        });


        


    </script>
{% endblock %}