{% extends 'admin/base/base.html' %}

{% load static %}

{% block title %}Referentes de pruebas{% endblock %}

{% block section_title %}Referentes de pruebas{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-12">

        <div class="fresh-table color-green">

            <div class="toolbar">
                <a class="btn btn-fill btn-danger" href="{% url 'athletes:view_athlete' athlete_id %}">
                    Volver
                </a>
                <a class="btn btn-fill btn-success" href="{% url 'athletes:athlete_test_ref' athlete_id %}">
                    Agregar referente
                </a>
            </div>

            <table id="fresh-table" class="table">
                <thead>
                    <th data-sortable="true" data-field="ID">ID</th>
                    <th data-sortable="true" data-field="Fecha">Resultado</th>
                    <th data-sortable="true" data-field="Estado" class="text-center">Internacional</th>
                    <th data-sortable="true" data-field="acciones" class="text-center">Acciones</th>
                </thead>
                <tbody>
                    {% for ref in refs %}
                    <tr>
                        <td>{{ref.id}}</td>
                        <td>{{ref.value}}</td>
                        <td class="text-center">
                            {% if ref.intl %}
                            Si
                            {% else %}
                            No
                            {% endif %}
                        </td>
                        <td>
                            <a href="" class="btn btn-simple text-success btn-icon edit">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a href="" class="btn btn-simple btn-warning btn-icon edit">
                                <i class="fa fa-pencil"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
    <!--  Plugin for DataTables.net  -->
	<script src="{% static 'assets/js/jquery.datatables.js' %}"></script>

    <script type="text/javascript">
        var $table = $('#fresh-table'),
            $alertBtn = $('#alertBtn'),
            full_screen = false;

        $().ready(function(){
            $table.bootstrapTable({
                toolbar: ".toolbar",

                showRefresh: false,
                search: true,
                showToggle: false,
                showColumns: true,
                pagination: true,
                striped: true,
                pageSize: 10,
                pageList: [10,25,50,100,"Todos"],

                formatAllRows: function () {
                    return 'Todos';
                },

                formatShowingRows: function(pageFrom, pageTo, totalRows){
                },

                formatNoMatches: function () {
                    return 'No se encontraron registros';
                },

                formatSearch: function () {
                    return 'Buscar';
                },

                formatRecordsPerPage: function(pageNumber){
                    return " Mostrar "+pageNumber+" registros";
                },

                icons: {
                    refresh: 'fa fa-refresh',
                    toggle: 'fa fa-th-list',
                    columns: 'fa fa-columns',
                    detailOpen: 'fa fa-plus-circle',
                    detailClose: 'fa fa-minus-circle'
                }
            });

            $(window).resize(function () {
                $table.bootstrapTable('resetView');
            });

        });


    </script>
{% endblock %}