{% extends 'admin/base/base.html' %}

{% load static %}

{% block title %}Contratistas{% endblock %}

{% block section_title %}Contratistas{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-12">

        <div class="fresh-table color-green">

            <div class="toolbar">
                <a class="btn btn-fill btn-success" href="{% url 'contractors:new_contractor' %}">
                    Agregar contratista
                </a>
            </div>

            <table id="fresh-table" class="table">
                <thead>
                    <th data-field="Foto" class="disabled-sorting"><span style="color:#fff;">Foto</span></th>
                    <th data-field="Documento">Documento</th>
                    <th data-field="Nombre">Nombre</th>
                    <th data-field="Cargo">Cargo</th>
                    <th data-field="Teléfono">Teléfono</th>
                    <th data-field="Móvil">Móvil</th>
                    <th data-field="Correo">Correo</th>
                    <th data-field="" class="disabled-sorting">Acción</th>
                </thead>
                <tbody>
                    {% for contractor in contractors %}
                    <tr>
                        <td><img src="/media/{{contractor.avatar}}" class="img-circle" style="max-height:40px;"></td>
                        <td>{{contractor.dni}}</td>
                        <td>{{contractor.get_full_name}}</td>
                        <td>{{contractor.get_type_display}}</td>
                        <td>{{contractor.phone}}</td>
                        <td>{{contractor.mobile}}</td>
                        <td>{{contractor.email}}</td>
                        <td>
                            <a href="{% url 'contractors:view_contractor' contractor.id %}" class="btn btn-simple text-success btn-icon edit"><i class="ti-eye"></i></a>
                            <a href="{% url 'contractors:edit_contractor' contractor.id %}" class="btn btn-simple btn-warning btn-icon edit"><i class="ti-pencil-alt"></i></a>
                            <a href="{% url 'contractors:toggle_block_contractor' contractor.id %}" class="btn btn-simple btn-danger btn-icon like">
                                {% if contractor.is_active %}
                                    <i class="ti-lock"></i>
                                {% else %}
                                    <i class="ti-unlock"></i>
                                {% endif %}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
    <!--  Plugin for DataTables.net  -->
	<script src="{% static 'assets/js/jquery.datatables.js' %}"></script>

    <script type="text/javascript">
        var $table = $('#fresh-table'),
            $alertBtn = $('#alertBtn'),
            full_screen = false;

        $().ready(function(){
            $table.bootstrapTable({
                toolbar: ".toolbar",

                showRefresh: false,
                search: true,
                showToggle: false,
                showColumns: true,
                pagination: true,
                striped: true,
                pageSize: 10,
                pageList: [10,25,50,100,"Todos"],

                formatAllRows: function () {
                    return 'Todos';
                },

                formatShowingRows: function(pageFrom, pageTo, totalRows){
                },

                formatNoMatches: function () {
                    return 'No se encontraron registros';
                },

                formatSearch: function () {
                    return 'Buscar';
                },

                formatRecordsPerPage: function(pageNumber){
                    return " Mostrar "+pageNumber+" registros";
                },

                icons: {
                    refresh: 'fa fa-refresh',
                    toggle: 'fa fa-th-list',
                    columns: 'fa fa-columns',
                    detailOpen: 'fa fa-plus-circle',
                    detailClose: 'fa fa-minus-circle'
                }
            });

            $(window).resize(function () {
                $table.bootstrapTable('resetView');
            });

        });


    </script>
{% endblock %}