{% extends 'admin/base/base.html' %}

{% block title %}{% if editing %}Editar contratista{% else %}Nuevo contratista{% endif %}{% endblock %}

{% block section_title %}{% if editing %}Editar contratista{% else %}Nuevo contratista{% endif %}{% endblock %}

{% block breadcrumb %}
<li><a href="{% url 'admin_home' %}"><span class="fa fa-home"> </span></a></li>
<li><a href="{% url 'contractors:list_contractors' %}"><span class="fa fa-user"> </span> Contratistas</a></li>
{% if editing %}
<li><a class="active"><span class="fa fa-edit"> </span> Editar contratista</a></li>
{% else %}
<li><a class="active"><span class="fa fa-plus"> </span> Registrar contratista</a></li>
{% endif %}
{% endblock %}

{% block main %}

<div class="row">

    {% if pass %}
    <div class="alert alert-success">
        Se ha cambiado la clave del usuario
        {{form.errors}}
    </div>
    {% endif %}

    <form action="{{request.path}}" method="POST" enctype="multipart/form-data" class="form-horizontal">
        {% csrf_token %}
        {% for fieldset in form.fieldsets %}
        <div class="col-md-6">
             <div class="card">
                <div class="header">
                    <h4 class="title">
                        {{fieldset.legend}}
                    </h4>
                </div>
                <div class="content">
                    {% for field in fieldset %}
                        <div class="form-group">
                            <label class="col-md-4 control-label">{{field.label}}</label>
                            <div class="col-md-8">
                                {{field}}
                                {% if field.errors %}
                                    {{field.errors}}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}

                    {% if forloop.last  %}
                    {% if editing %}
                    <div class="content">
                        <a href="{% url 'contractors:pass' contractor.id %}" class="btn btn-fill btn-success" style="width:100%">
                            Cambiar contraseña
                        </a>
                    </div>
                    {% endif %}
                    <hr>
                    <div class="form-group">
                        <label class="col-md-4 control-label">{{field.label}}</label>
                        <div class="col-md-8">
                            <a class="btn btn-fill btn-danger" href="{% url 'contractor_profile' %}">
                                Cancelar
                            </a>
                            <input type="submit" class="btn btn-fill btn-success" value="{% if editing %}Guardar cambios{% else %}Registrar contratista{% endif %}">
                        </div>
                    </div>

                    {% endif %}
                </div>
             </div>
        </div>
        {% endfor %}
    </form>
</div>
{% endblock %}