{% extends "admin/base/base.html" %}

{% load static %}

{% block title %}Ver Contratista{% endblock %}

{% block section_title %}Ver Contratista{% endblock %}

{% block main %}
<div class="row">
    <div class="col-lg-4 col-md-5">
        <div class="card card-user">
            <div class="image">
                <img src="{% static 'assets/img/background.jpg' %}" alt="..."/>
            </div>
            <div class="content">
                <div class="author">
                  <img class="avatar border-white" src="/media/{{ contractor.avatar }}" alt="..."/>
                  <h4 class="title">{{contractor.get_full_name}}<br />
                     <a href="#"><small>{{contractor.get_type_display}}</small></a>
                  </h4>
                </div>
            </div>
            <hr>
            <div class="text-center">
                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        <h5>
                            <a href="{% url 'contractors:edit_contractor' contractor.id %}" class="text-warning">
                                <i class="fa fa-pencil"></i>
                                <br />
                                <small>Editar</small>
                            </a>
                        </h5>
                    </div>
                    <div class="col-md-5">
                        <h5>
                            <a href="{% url 'contractors:toggle_block_contractor' contractor.id %}" class="text-warning">
                                {% if contractor.is_active %}
                                    <i class="ti-lock"></i>
                                    <br />
                                    <small>Bloquear</small>
                                {% else %}
                                    <i class="ti-unlock"></i>
                                    <br />
                                    <small>Desbloquear</small>
                                {% endif %}
                            </a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-7">
        <div class="card">
            <div class="header">
                <h4 class="title">Información</h4>
                <hr>
            </div>
            <div class="content">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nombres</label>
                                <p class="form-control-static">{{contractor.first_name}}</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Apellidos</label>
                                <p class="form-control-static">{{contractor.last_name}}</p>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Cargo</label>
                                <p class="form-control-static">{{contractor.get_type_display}}</p>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Tipo de documento</label>
                                <p class="form-control-static">{{contractor.get_dni_type_display}}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Número de documento</label>
                                <p class="form-control-static">{{contractor.dni}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Dirección</label>
                                <p class="form-control-static">{{contractor.address}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Teléfono Fijo</label>
                                <p class="form-control-static">{{contractor.phone}}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Teléfono Móvil</label>
                                <p class="form-control-static">{{contractor.mobile}}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Correo electrónico</label>
                                <p class="form-control-static">{{contractor.email}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="row">
                <div class="col-md-6">
                    <div class="header">
                        <h4 class="title col-lg-6" style="margin-top:8px">Formación</h4>
                        <p class="text-right">
                            <a class="btn btn-fill btn-success" href="{% url 'contractors:add_formation' contractor.id %}">Agregar formación</a>
                        </p>
                        <hr>
                    </div>

                    <div class="content" style="padding-left:30px;">
                        {% for item in contractor.formationitem_set.all %}
                        <div class="row" style="margin-bottom:20px;">
                            <div class="col-lg-2">
                                <div class="badge btn-fill btn-info">
                                    {{item.year}}
                                </div>
                            </div>

                            <div class="col-lg-8">
                                <b>{{item.description}}</b><br>
                                <a href="/media/{{item.support}}">Ver soporte</a>
                            </div>

                            <div class="col-lg-2">
                                <a href="{% url 'contractors:edit_formation' contractor.id item.id %}" class="text-primary" style="font-size:20px;">
                                    <i class="fa fa-pencil-square"></i>
                                </a>
                                <a href="{% url 'contractors:delete_formation' contractor.id item.id %}" class="text-primary" style="font-size:20px;">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                        </div>
                        {% empty %}
                            <p class="text-center">No se han registrado logros deportivos</p>
                        {% endfor %}
                    </div>
                    
                </div>
                <div class="col-md-6">
                    <div class="header">
                        <h4 class="title col-lg-8" style="margin-top:8px">Logros deportivos</h4>
                        <p class="text-right">
                            <a class="btn btn-fill btn-success" href="{% url 'contractors:add_achievement' contractor.id %}">Agregar logro</a>
                        </p>
                        <hr>
                    </div>

                    <div class="content" style="padding-left:30px;">
                        {% for item in contractor.sportsachievements_set.all %}
                        <div class="row" style="margin-bottom:20px;">
                            <div class="col-lg-2">
                                <div class="badge btn-fill btn-info">
                                    {{item.year}}
                                </div>
                            </div>

                            <div class="col-lg-8">
                                <b>{{item.description}}</b><br>
                                <a href="/media/{{item.support}}">Ver soporte</a>
                            </div>

                            <div class="col-lg-2">
                                <a href="{% url 'contractors:edit_achievement' contractor.id item.id %}" class="text-primary" style="font-size:20px;">
                                    <i class="fa fa-pencil-square"></i>
                                </a>
                                <a href="{% url 'contractors:delete_achievement' contractor.id item.id %}" class="text-primary" style="font-size:20px;">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                        </div>
                        {% empty %}
                            <p class="text-center">No se han registrado logros deportivos</p>
                        {% endfor %}
                    </div>
                    
                </div>
            </div>

            <div class="clearfix" style="padding-top:20px;"></div>
        </div>
    </div>
</div>
{% endblock %}

<!-- TODO alert the user when deleting items -->
<!-- TODO redistribute contractor info for more beauty layout -->