{% extends 'admin/base/base.html' %}

{% block title %}
    {% if editing %}Editar {% if formation %}item de formación{% else %}logro deportivo{% endif %}
    {% else %}Registrar {% if formation %}item de formación{% else %}logro deportivo{% endif %}{% endif %}
{% endblock %}

{% block section_title %}
    {% if editing %}Editar {% if formation %}item de formación{% else %}logro deportivo{% endif %}
    {% else %}Registrar {% if formation %}item de formación{% else %}logro deportivo{% endif %}{% endif %}
    <br><small style="font-size:12px">{{contractor.get_full_name}}</small>
{% endblock %}

{% block breadcrumb %}
<li><a href="{% url 'admin_home' %}"><span class="fa fa-home"> </span></a></li>
<li><a href="{% url 'contractors:list_contractors' %}"><span class="fa fa-user"> </span> Contratistas</a></li>
<li>
    <a href="{% url 'contractors:view_contractor' contractor.id %}">
        <span class="fa fa-certificate"> </span> {{contractor.get_full_name}}
    </a>
</li>
<li>
    <a class="active">
        <span class="fa {% if formation %}fa-mortar-board{%else%}fa-trophy{% endif %}"> </span>
        {% if editing %}Editar {% if formation %}item de formación{% else %}logro deportivo{% endif %}
        {% else %}Registrar {% if formation %}item de formación{% else %}logro deportivo{% endif %}{% endif %}
    </a>
</li>
{% endblock %}

{% block main %}

<div class="row">

    <form action="{{request.path}}" method="POST" enctype="multipart/form-data" class="form-horizontal">
        {% csrf_token %}
        <div class="col-md-8">
             <div class="card">
                <div class="content">
                    {% for field in form %}
                        <div class="form-group">
                            <label class="col-md-2 control-label">{{field.label}}</label>
                            <div class="col-md-10">
                                {{field}}
                                {% if field.errors %}
                                    {{field.errors}}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}

                    <hr>
                    <div class="form-group">
                        <label class="col-md-4 control-label">{{field.label}}</label>
                        <div class="col-md-8 text-right">
                            <a class="btn btn-fill btn-danger" href="{% url 'contractor_profile' %}">
                                Cancelar
                            </a>
                            <input type="submit" class="btn btn-fill btn-success" value="
                                {% if editing %}Guardar cambios{% else %}Registrar
                                    {% if formation %}formación{% else %}logro deportivo{% endif %}
                                {% endif %}">
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </form>
</div>
{% endblock %}