{% extends 'admin/base/base.html' %}

{% block title %}Cambiar contraseña contratista{% endblock %}

{% block section_title %}Cambiar contraseña contratista{% endblock %}

{% block main %}

<div class="row">
    <form action="{% url 'contractors:pass' contractor.id %}" method="POST" enctype="multipart/form-data" class="form-horizontal">
        {% csrf_token %}

        <div class="col-md-10">
             <div class="card">
                <div class="content">
                    <h4>Cambiar contraseña del contratista: {{contractor.get_full_name}}</h4>
                    {% for field in form %}
                        <div class="form-group">
                            <label class="col-md-4 control-label">{{field.label}}</label>
                            <div class="col-md-8">
                                {{field}}
                                {% if field.errors %}
                                    {{field.errors}}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}

                    <hr>
                    <div class="form-group">
                        <div class="col-md-12 text-right">
                            <a type="submit" class="btn btn-fill btn-danger" href="{% url 'contractors:edit_contractor' contractor.id %}">
                                Cancelar
                            </a>
                            <input type="submit" class="btn btn-fill btn-success" value="{% if editing %}Actualizar contraseña{% else %}Registrar contratista{% endif %}">
                        </div>
                    </div>

                </div>
             </div>
        </div>
    </form>
</div>
{% endblock %}