{% extends 'admin/base/base.html' %}

{% load static %}

{% block title %}Miembros{% endblock %}

{% block section_title %}Miembros{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-12">

        <div class="fresh-table color-green">

            <div class="toolbar">
                <a class="btn btn-fill btn-success" href="{% url 'add_member' group_id %}">
                    Agregar miembro
                </a>
            </div>

            <table id="fresh-table" class="table">
                <thead>
                    <th data-sortable="true" data-field="Nombre">Nombre</th>
                    <th data-sortable="true" data-field="Documento">Documento</th>
                    <th data-sortable="true" data-field="Edad">Edad</th>
                    <th data-sortable="true" data-field="Grupo" class="text-center">Grupo Social</th>
                    <th data-sortable="true" data-field="Estado" class="text-center">Estado</th>
                    <th data-sortable="true" data-field="Acciones">Acciones</th>
                </thead>
                <tbody>
                    {% for member in members %}
                    <tr>
                        <td>{{member.name}} {{member.lastname}}</td>
                        <td>{{member.dni}}</td>
                        <td>{{member.birthdate}}</td>
                        <td>{{member.get_social_group_display}}</td>
                        <td>
                            {% if member.active %}Activo{% else %}Inactivo{% endif %}
                        </td>
                        <td>
                            <a href="{% url 'edit_member' member.interv.id member.id %}" class="btn btn-simple text-success btn-icon edit">
                                <i class="fa fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
    <!--  Plugin for DataTables.net  -->
	<script src="{% static 'assets/js/jquery.datatables.js' %}"></script>

    <script type="text/javascript">
        var $table = $('#fresh-table'),
            $alertBtn = $('#alertBtn'),
            full_screen = false;

        $().ready(function(){
            $table.bootstrapTable({
                toolbar: ".toolbar",

                showRefresh: false,
                search: true,
                showToggle: false,
                showColumns: true,
                pagination: true,
                striped: true,
                pageSize: 10,
                pageList: [10,25,50,100,"Todos"],

                formatAllRows: function () {
                    return 'Todos';
                },

                formatShowingRows: function(pageFrom, pageTo, totalRows){
                },

                formatNoMatches: function () {
                    return 'No se encontraron registros';
                },

                formatSearch: function () {
                    return 'Buscar';
                },

                formatRecordsPerPage: function(pageNumber){
                    return " Mostrar "+pageNumber+" registros";
                },

                icons: {
                    refresh: 'fa fa-refresh',
                    toggle: 'fa fa-th-list',
                    columns: 'fa fa-columns',
                    detailOpen: 'fa fa-plus-circle',
                    detailClose: 'fa fa-minus-circle'
                }
            });

            $(window).resize(function () {
                $table.bootstrapTable('resetView');
            });

        });


    </script>
{% endblock %}