{% load static %}
{% load nav_tags %}

<div class="sidebar" data-background-color="white" data-active-color="success">
	    <!--
			Tip 1: you can change the color of the sidebar's background using: data-background-color="white | brown"
			Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
		-->
			<div class="logo" style="height:95px;">
				<a href="/" class="simple-text">
                    <img src="{% static 'assets/img/logo.png' %}" alt="Ultra logo" height="60px">
				</a>
			</div>
			<div class="logo logo-mini">
				<a href="/" class="simple-text">
					<img src="{% static 'assets/img/logo-small.png' %}" alt="Ultra logo" height="40px">
				</a>
			</div>
	    	<div class="sidebar-wrapper">
				<div class="user">
	                <div class="photo">
	                    <img src="/media/{{request.user.avatar}}" />
	                </div>
	                <div class="info">
	                    <a data-toggle="collapse" href="#collapseExample" class="collapsed">
	                        {{request.user.get_full_name}}
	                        <b class="caret"></b>
	                    </a>
	                    <div class="collapse" id="collapseExample">
	                        <ul class="nav">
	                            <li><a href="{% url 'contractor_profile' %}">Mi cuenta</a></li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	            <ul class="nav">
                    {% if user.is_superuser %}
                    <li class="{% navactive request 'list_programs new_program view_program edit_program list_subprograms new_subprogram view_subprogram edit_subprogram list_projects new_project view_project edit_project' %}">
                        <a data-toggle="collapse" href="#programs">
	                        <i class="fa fa-bar-chart"></i>
	                        <p>
								Programas
	                           <b class="caret"></b>
	                        </p>
	                    </a>
	                    <div class="collapse" id="programs">
	                        <ul class="nav">
								<li class="{% navactive request 'list_programs new_program view_program edit_program' %}">
									<a href="{% url 'programs:list_programs' %}">Programas</a>
								</li>
								<li class="{% navactive request 'list_subprograms new_subprogram view_subprogram edit_subprogram' %}">
									<a href="{% url 'subprograms:list_subprograms' %}">Subprogramas</a>
								</li>
								<li class="{% navactive request 'list_projects new_project view_project edit_project' %}">
									<a href="{% url 'projects:list_projects' %}">Proyectos</a>
								</li>
	                        </ul>
	                    </div>
	                </li>

                    <li class="{% navactive request 'list_contractors new_contractor view_contractor edit_contractor' %}">
	                    <a href="{% url 'contractors:list_contractors' %}">
	                        <i class="fa fa-user"></i>
	                        <p>Contratistas</p>
	                    </a>
	                </li>

                    <li class="{% navactive request 'list_athletes new_athlete view_athlete edit_athlete' %}">
	                    <a href="{% url 'athletes:list_athletes' %}">
	                        <i class="fa fa-trophy"></i>
	                        <p>Deportistas</p>
	                    </a>
	                </li>
                    {% endif %}

                    {% if user.type == 'M' or user.type == 'I' %}
                    <li class="{% navactive request 'list_athletes new_athlete view_athlete edit_athlete' %}">
	                    <a href="{% url 'report_form' %}">
	                        <i class="fa fa-paste"></i>
	                        <p>Reporte de actividad</p>
	                    </a>
	                </li>
                    <li class="{% navactive request 'list_athletes new_athlete view_athlete edit_athlete' %}">
	                    <a href="{% url 'activity_report' %}">
	                        <i class="fa fa-paste"></i>
	                        <p>Reporte de eventos</p>
	                    </a>
	                </li>
                    <li class="{% navactive request 'list_athletes new_athlete view_athlete edit_athlete' %}">
	                    <a href="{% url 'contractor_groups' %}">
	                        <i class="fa fa-group"></i>
	                        <p>Grupos</p>
	                    </a>
	                </li>
                    <li class="{% navactive request 'list_events new_event view_event edit_event rank_event rank_report' %}">
	                    <a href="{% url 'events:list_events' %}">
	                        <i class="fa fa-trophy"></i>
	                        <p>Eventos rankeables</p>
	                    </a>
	                </li>
                    {% endif %}
                    {% if user.is_superuser %}
                    <li class="{% navactive request 'list_events new_event view_event edit_event rank_event rank_report' %}">
	                    <a href="{% url 'events:list_events' %}">
	                        <i class="fa fa-calendar-check-o"></i>
	                        <p>Eventos rankeables</p>
	                    </a>
	                </li>
                    <li class="{% navactive request 'list_polls' %}">
	                    <a href="{% url 'polls:list_polls' %}">
	                        <i class="fa fa-tasks"></i>
	                        <p>Encuestas</p>
	                    </a>
	                </li>
	                <li class="{% navactive request 'settings_home' %}">
	                    <a href="{% url 'settings:settings_home' %}">
	                        <i class="fa fa-cogs"></i>
	                        <p>Configuración</p>
	                    </a>
	                </li>
                    {% endif %}





					<!--
					<li>
						<a data-toggle="collapse" href="#componentsExamples">
							<i class="ti-package"></i>
							<p>components
							   <b class="caret"></b>
							</p>
						</a>
						<div class="collapse" id="componentsExamples">
							<ul class="nav">
								<li><a href="../components/buttons.html">Buttons</a></li>
								<li><a href="../components/grid.html">Grid System</a></li>
								<li><a href="../components/panels.html">Panels</a></li>
								<li><a href="../components/sweet-alert.html">Sweet Alert</a></li>
								<li><a href="../components/notifications.html">Notifications</a></li>
								<li><a href="../components/icons.html">Icons</a></li>
								<li><a href="../components/typography.html">Typography</a></li>
							</ul>
						</div>
					</li>
					<li>
						<a data-toggle="collapse" href="#formsExamples">
	                        <i class="ti-clipboard"></i>
	                        <p>
								Forms
	                           <b class="caret"></b>
	                        </p>
	                    </a>
	                    <div class="collapse" id="formsExamples">
	                        <ul class="nav">
								<li><a href="../forms/regular.html">Regular Forms</a></li>
								<li><a href="../forms/extended.html">Extended Forms</a></li>
								<li><a href="../forms/validation.html">Validation Forms</a></li>
	                            <li><a href="../forms/wizard.html">Wizard</a></li>
	                        </ul>
	                    </div>
	                </li>
	                <li>
						<a data-toggle="collapse" href="#tablesExamples">
	                        <i class="ti-view-list-alt"></i>
	                        <p>
								Table list
	                           <b class="caret"></b>
	                        </p>
	                    </a>
	                    <div class="collapse" id="tablesExamples">
	                        <ul class="nav">
								<li><a href="../tables/regular.html">Regular Tables</a></li>
								<li><a href="../tables/extended.html">Extended Tables</a></li>
								<li><a href="../tables/bootstrap-table.html">Bootstrap Table</a></li>
								<li><a href="../tables/datatables.net.html">DataTables.net</a></li>
	                        </ul>
	                    </div>
	                </li>
					<li>
						<a data-toggle="collapse" href="#mapsExamples">
	                        <i class="ti-map"></i>
	                        <p>
								Maps
	                           <b class="caret"></b>
	                        </p>
	                    </a>
	                    <div class="collapse" id="mapsExamples">
	                        <ul class="nav-second-level nav">
								<li><a href="../maps/google.html">Google Maps</a></li>
								<li><a href="../maps/vector.html">Vector Maps</a></li>
								<li><a href="../maps/fullscreen.html">Full Screen Map</a></li>
	                        </ul>
	                    </div>
	                </li>
					<li>
	                    <a href="../charts.html">
	                        <i class="ti-bar-chart-alt"></i>
	                        <p>Charts</p>
	                    </a>
	                </li>
					<li>
	                    <a href="../calendar.html">
	                        <i class="ti-calendar"></i>
	                        <p>Calendar</p>
	                    </a>
	                </li>
					<li>
						<a data-toggle="collapse" href="#pagesExamples">
	                        <i class="ti-gift"></i>
	                        <p>
								Pages
	                           <b class="caret"></b>
	                        </p>
	                    </a>
	                    <div class="collapse" id="pagesExamples">
	                        <ul class="nav-second-level nav">
								<li><a href="../pages/timeline.html">Timeline Page</a></li>
								<li><a href="../pages/user.html">User Page</a></li>
								<li><a href="../pages/login.html">Login Page</a></li>
								<li><a href="../pages/register.html">Register Page</a></li>
								<li><a href="../pages/lock.html">Lock Screen Page</a></li>
	                        </ul>
	                    </div>
	                </li>
	                -->
	            </ul>
	    	</div>
	    </div>