{% extends "admin/base/base.html" %}

{% load static %}

{% block title %}Ver información de subprograma{% endblock %}

{% block section_title %}Ver información de subprograma <br><small style="font-size:12px">{{subprogram.name}}</small>{% endblock %}

{% block main %}
<div class="row">
    <div class="col-lg-5 col-md-5">
        <div class="card">
            <div class="header">
                <h4 class="title">
                    Nombre del subprograma <br>
                    <small>{{subprogram.name}}</small>
                </h4>
                <hr>
            </div>
            <div class="content">
                

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Programa</label>
                            <p class="form-control-static prog_link">
                                <a href="{% url 'programs:view_program' subprogram.program.id %}">{{subprogram.program.name}}</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Estado</label>
                            <p class="form-control-static">{{subprogram.get_status_display}}</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Proyectos</label>
                            <p class="form-control-static">{{subprogram.project_set.all.count}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Descripción</label>
                            {{subprogram.description|safe}}
                        </div>
                    </div>
                </div>


                <div class="clearfix"></div>
                <hr>
                <p class="text-center">
                    <a class="btn btn-fill btn-warning" href="{% url 'subprograms:edit_subprogram' subprogram.id %}">
                        Editar información del subprograma
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-7 col-md-7">
        <div class="fresh-table color-green">

            <div class="toolbar">
                <span style="    font-size: 1.5em;font-weight: 300;vertical-align: middle;display: inline-block; margin-right:20px;">
                    Proyectos
                </span>
                <a class="btn btn-fill btn-success" href="{% url 'subprograms:proj' subprogram.id %}">
                    Agregar proyecto
                </a>
            </div>

            <table id="fresh-table" class="table">
                <thead>
                    <th data-sortable="true" data-field="Consecutivo">Consecutivo</th>
                    <th data-sortable="true" data-field="Nombre">Nombre</th>
                    <th data-sortable="true" data-field="Estado">Estado</th>
                    <th data-field="Acción">Acción</th>
                </thead>
                <tbody>
                    {% for project in subprogram.project_set.all %}
                    <tr>
                        <td>{{project.consecutive}}</td>
                        <td>{{project.name}}</td>
                        <td>{{project.get_status_display}}</td>
                        <td>
                            <a href="{% url 'projects:view_project' project.id %}" class="btn btn-simple text-success btn-icon edit">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a href="{% url 'projects:edit_project' project.id %}" class="btn btn-simple btn-warning btn-icon edit">
                                <i class="fa fa-pencil"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <!--  Plugin for DataTables.net  -->
    <script src="{% static 'assets/js/jquery.datatables.js' %}"></script>

    <script type="text/javascript">
        var $table = $('#fresh-table'),
            $alertBtn = $('#alertBtn'),
            full_screen = false;

        $().ready(function(){
            $table.bootstrapTable({
                toolbar: ".toolbar",

                showRefresh: false,
                search: true,
                showToggle: false,
                showColumns: true,
                pagination: true,
                striped: true,
                pageSize: 10,
                pageList: [10,25,50,100,"Todos"],

                formatAllRows: function () {
                    return 'Todos';
                },

                formatShowingRows: function(pageFrom, pageTo, totalRows){
                },

                formatNoMatches: function () {
                    return 'No se encontraron registros';
                },

                formatSearch: function () {
                    return 'Buscar';
                },

                formatRecordsPerPage: function(pageNumber){
                    return " Mostrar "+pageNumber+" registros";
                },

                icons: {
                    refresh: 'fa fa-refresh',
                    toggle: 'fa fa-th-list',
                    columns: 'fa fa-columns',
                    detailOpen: 'fa fa-plus-circle',
                    detailClose: 'fa fa-minus-circle'
                }
            });

            $(window).resize(function () {
                $table.bootstrapTable('resetView');
            });

        });


    </script>
{% endblock %}