{% extends "admin/base/base.html" %}

{% load static %}

{% block title %}Ver Programa{% endblock %}

{% block section_title %}Ver Programa{% endblock %}

{% block main %}
<div class="row">
    <div class="col-lg-4 col-md-5">
        <div class="card">
            <div class="header">
                <h4 class="title">Programa</h4>
                <hr>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Nombre</label>
                            <p>{{program.name}}</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Estado</label>
                            <p class="form-control-static">{{program.get_status_display}}</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Subprogramas</label>
                            <p class="form-control-static">{{program.subprogram_set.all.count}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Descripción</label>
                            {{program.description|safe}}
                        </div>
                    </div>
                </div>


                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-7">
        <div class="fresh-table color-green card">

            <div class="toolbar">
                <span style="    font-size: 1.5em;font-weight: 300;vertical-align: middle;display: inline-block;">
                    Subprogramas
                </span>
                <a class="btn btn-fill btn-success" href="{% url 'athletes:new_athlete' %}">
                    Agregar subprograma
                </a>
            </div>

            <table id="fresh-table" class="table">
                <thead>
                    <th data-field="ID">ID</th>
                    <th data-field="Nombre">Nombre</th>
                    <th data-field="Estado">Estado</th>
                    <th data-field="Acción">Acción</th>
                </thead>
                <tbody>
                    {% for sub in program.subprogram_set.all %}
                    <tr>
                        <td>{{sub.id}}</td>
                        <td>{{sub.name}}</td>
                        <td>{{sub.get_status_display}}</td>
                        <td>
                            <a href="{% url 'athletes:view_athlete' athlete.id %}" class="btn btn-simple text-success btn-icon edit">
                                <i class="ti-eye"></i>
                            </a>
                            <a href="{% url 'athletes:edit_athlete' athlete.id %}" class="btn btn-simple btn-warning btn-icon edit">
                                <i class="ti-pencil-alt"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <!--  Plugin for DataTables.net  -->
    <script src="{% static 'assets/js/jquery.datatables.js' %}"></script>

    <script type="text/javascript">
        var $table = $('#fresh-table'),
            $alertBtn = $('#alertBtn'),
            full_screen = false;

        $().ready(function(){
            $table.bootstrapTable({
                toolbar: ".toolbar",

                showRefresh: false,
                search: true,
                showToggle: false,
                showColumns: true,
                pagination: true,
                striped: true,
                pageSize: 10,
                pageList: [10,25,50,100,"Todos"],

                formatAllRows: function () {
                    return 'Todos';
                },

                formatShowingRows: function(pageFrom, pageTo, totalRows){
                },

                formatNoMatches: function () {
                    return 'No se encontraron registros';
                },

                formatSearch: function () {
                    return 'Buscar';
                },

                formatRecordsPerPage: function(pageNumber){
                    return " Mostrar "+pageNumber+" registros";
                },

                icons: {
                    refresh: 'fa fa-refresh',
                    toggle: 'fa fa-th-list',
                    columns: 'fa fa-columns',
                    detailOpen: 'fa fa-plus-circle',
                    detailClose: 'fa fa-minus-circle'
                }
            });

            $(window).resize(function () {
                $table.bootstrapTable('resetView');
            });

        });


    </script>
{% endblock %}