{% extends 'admin/base/base.html' %}

{% load static %}

{% block title %}Eventos{% endblock %}

{% block section_title %}Eventos{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-12">

        <div class="fresh-table color-green">

            <div class="toolbar">
                <a class="btn btn-fill btn-success" href="{% url 'events:new_event' %}">
                    Agregar Evento
                </a>
            </div>

            <table id="fresh-table" class="table">
                <thead>
                    <th data-sortable="true" data-field="ID">ID</th>
                    <th data-sortable="true" data-field="Nombre">Nombre</th>
                    <th data-sortable="true" data-field="Deporte">Deporte</th>
                    <th data-sortable="true" data-field="Fecha inicio">Fecha de inicio</th>
                    <th data-sortable="true" data-field="Fecha cierre">Fecha de cierre</th>
                    <th data-sortable="true" data-field="Inscritos">Inscritos</th>
                    <th data-sortable="true" data-field="Estado" class="text-center">Abierto</th>
                    <th data-field="" class="disabled-sorting">Acción</th>
                </thead>
                <tbody>
                    {% for event in events %}
                    <tr>
                        <td>{{event.id}}</td>
                        <td>{{event.name}}</td>
                        <td>{{event.sport}}</td>
                        <td>{{event.start_date}}</td>
                        <td>{{event.end_date}}</td>
                        <td>{{event.contestant_set.all.count}}</td>
                        <td class="text-center">
                            <a href="{% url 'events:toggle_event' event.id %}">
                            {% if event.open %}
                                <span class="fa fa-circle text-success"></span>
                            {% else %}
                                <span class="fa fa-circle text-danger"></span>
                            {% endif %}
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'events:view_event' event.id %}" class="btn btn-simple text-success btn-icon edit">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a href="{% url 'events:edit_event' event.id %}" class="btn btn-simple btn-warning btn-icon edit">
                                <i class="fa fa-pencil"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
    <!--  Plugin for DataTables.net  -->
	<script src="{% static 'assets/js/jquery.datatables.js' %}"></script>

    <script type="text/javascript">
        var $table = $('#fresh-table'),
            $alertBtn = $('#alertBtn'),
            full_screen = false;

        $().ready(function(){
            $table.bootstrapTable({
                toolbar: ".toolbar",

                showRefresh: false,
                search: true,
                showToggle: false,
                showColumns: true,
                pagination: true,
                striped: true,
                pageSize: 10,
                pageList: [10,25,50,100,"Todos"],

                formatAllRows: function () {
                    return 'Todos';
                },

                formatShowingRows: function(pageFrom, pageTo, totalRows){
                },

                formatNoMatches: function () {
                    return 'No se encontraron registros';
                },

                formatSearch: function () {
                    return 'Buscar';
                },

                formatRecordsPerPage: function(pageNumber){
                    return " Mostrar "+pageNumber+" registros";
                },

                icons: {
                    refresh: 'fa fa-refresh',
                    toggle: 'fa fa-th-list',
                    columns: 'fa fa-columns',
                    detailOpen: 'fa fa-plus-circle',
                    detailClose: 'fa fa-minus-circle'
                }
            });

            $(window).resize(function () {
                $table.bootstrapTable('resetView');
            });

        });


    </script>
{% endblock %}