{% extends 'admin/base/base.html' %}

{% block title %}{% if editing %}Editar opción{% else %}Registrar opción{% endif %}{% endblock %}

{% block section_title %}
    {% if editing %}
        Editar información de la opción<br><small style="font-size:12px">{{option.title}}</small>
    {% else %}Registrar opción{% endif %}
{% endblock %}

{% block breadcrumb %}
<li><a href="{% url 'admin_home' %}"><span class="fa fa-home"> </span></a></li>
<li><a href="{% url 'polls:list_polls' %}"><span class="fa fa-tasks"> </span> Encuestas</a></li>
<li><a href="{% url 'polls:view_poll' poll.id %}"><span class="fa fa-tasks"> </span> {{poll.title}}</a></li>
<li><a href="{% url 'polls:view_question' poll.id question.id %}"><span class="fa fa-question"> </span> {{question.statement}}</a></li>
<li>   
    <a class="active">
        <span class="fa fa-certificate"> </span> {% if editing %}Editar opción{% else %}Registrar opción{% endif %}
    </a>
</li>
{% endblock %}

{% block main %}

<div class="row">
    <form action="{{request.path}}" method="POST" enctype="multipart/form-data" class="form-horizontal">
        {% csrf_token %}
        <div class="col-md-8">
             <div class="card">
                <div class="content">
                    {% for field in form %}
                        <div class="form-group">
                            <label class="col-md-2 control-label">{{field.label}}</label>
                            <div class="col-md-10">
                                {{field}}
                            </div>
                        </div>
                    {% endfor %}
                    <hr>
                    <div class="form-group">
                        <div class="col-md-12 text-right">
                            <a class="btn btn-fill btn-danger" href="">
                                Cancelar
                            </a>
                            <input type="submit" class="btn btn-fill btn-success" value="{% if editing %}Guardar cambios{% else %}Registrar opción{% endif %}">
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </form>
</div>
{% endblock %}