{% extends 'admin/base/base.html' %}

{% block title %}{% if editing %}Editar encuesta{% else %}Registrar encuesta{% endif %}{% endblock %}

{% block section_title %}
    {% if editing %}
        Editar información de la encuesta<br><small style="font-size:12px">{{poll.title}}</small>
    {% else %}Registrar encuesta{% endif %}
{% endblock %}

{% block main %}

<div class="row">
    <form action="{{request.path}}" method="POST" enctype="multipart/form-data" class="form-horizontal">
        {% csrf_token %}
        <div class="col-md-8">
             <div class="card">
                <div class="content">
                    {% for field in form %}
                        <div class="form-group">
                            <label class="col-md-2 control-label">{{field.label}}</label>
                            <div class="col-md-10">
                                {{field}}
                            </div>
                        </div>
                    {% endfor %}
                    <hr>
                    <div class="form-group">
                        <div class="col-md-12 text-right">
                            <a class="btn btn-fill btn-danger" href="{% url 'polls:list_polls' %}">
                                Cancelar
                            </a>
                            <input type="submit" class="btn btn-fill btn-success" value="{% if editing %}Guardar cambios{% else %}Registrar encuesta{% endif %}">
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </form>
</div>
{% endblock %}